.hmi-alert {
  display: flex;
  align-items: center;
  gap: var(--space-12);
  padding: var(--space-12);
  border-radius: 8px;
  width: 398px;
  font-family: var(--font-family-base);
  font-size: 14px;
  line-height: 21px;
}

.hmi-alert p {
  margin: 0;
  flex: 1;
}

.hmi-alert--error {
  background: var(--alerts-bg-error);
  color: var(--alerts-text-error);
}
.hmi-alert--success {
  background: var(--alerts-bg-success);
  color: var(--alerts-text-success);
}
.hmi-alert--warning {
  background: var(--alerts-bg-warning);
  color: var(--alerts-text-warning);
}
.hmi-alert--informational {
  background: var(--alerts-bg-info);
  color: var(--alerts-text-info);
}
