.hmi-page-progress {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 118px;
  height: 35px;
  padding: 0 var(--space-12);
  border: var(--space-1) solid var(--color-neutral-40);
  border-radius: 8px;
  font-family: var(--font-family-base);
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: var(--color-neutral-80);
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
}
.hmi-page-progress--active {
  background: var(--color-neutral-40);
}
.hmi-page-progress--inactive {
  background: var(--color-neutral-0);
}

.hmi-page-progress-bar {
  display: flex;
  align-items: center;
  gap: var(--space-12);
}
